<div class="page-header">
</div>
<div class="col-lg-7">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Update Password</div>
        <div class="alert alert-danger" ng-show="user.errors">
            <h4 class="alert-heading">
                Please fix the following errors:
            </h4>
            <ul>
                <li ng-repeat="error in settings.errors">{{error.message}}</li>
            </ul>

        </div>
        <div class="alert alert-success" ng-show="message">
            {{message}}
        </div>
        <div class="form-admin">
            <div class="alert alert-danger" ng-show="userPassword.errors">
                <h4 class="alert-heading">
                    Please fix the following errors:
                </h4>
                <ul>
                    <li ng-repeat="error in userPassword.errors">{{error.message}}</li>
                </ul>
            </div>
            <form class="form-horizontal" role="form" ng-submit="updatePassword()">
                <div class="form-group">
                    <label for="currentPassword" class="col-lg-2 control-label">Current Password</label>
                    <div class="col-lg-6">
                        <input type="password" name="currentPassword" class="form-control" id="currentPassword" placeholder="Current" ng-model="userPassword.currentPassword" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="col-lg-2 control-label">New Password</label>
                    <div class="col-lg-6">
                        <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New" ng-model="userPassword.newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                    <div class="col-lg-6">
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm" ng-model="userPassword.confirmPassword" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" data-loading-text="Saving..." class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>