<div class="page-header">
    <h1>Posts</h1>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4 class="pull-left">Post List</h4>
        <div class="pull-right">
            <a class="btn btn-primary" href="#posts/create"><i class="glyphicon glyphicon-plus"></i> Add New</a>
        </div>
    </div>
    <!-- Table -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Comments</th>
            <th>Active</th>
            <th>Date Created</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in posts">
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>{{post.commentsCount}}</td>
                <td>{{post.active}}</td>
                <td>{{post.dateCreated | date:'longDate'}}</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group btn-group-sm pull-right" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#posts/{{post.id}}/edit"><i class="glyphicon glyphicon-edit"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" data-method="delete" confirmation-needed href="" ng-click="deletePost($index,post.id)"><i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>