
<div class="center-block form-signin">
<div id="login-error" class="alert alert-danger" style="display: none;">
    <button type="button" class="close" onclick="$('#login-error').hide();">&times;</button>
    Username and/or password incorrect.
</div>
<form name="loginForm" role="form" ng-submit="logIn()" autocomplete="off">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
        <input id="username" class="form-control" type="text" ng-model="authData.username" placeholder="Username"/>
    </div>
    <div class="form-group">
        <input id="password" class="form-control" type="password" ng-model="authData.password" placeholder="Password"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Login"/>
</form>
</div>